# General configuration
APP_NAME = "Smart House API"
DEBUG = False
SQL_DEBUG = False

# Database configuration
DB_TYPE = mysql  # Accept mysql and sqlite
DB_HOST = localhost # Url of sgdb
DB_PORT = 3306 # Port of sgdb
DB_USER = root # Name of user to sgdb
DB_PASSWORD = PASSWORD # Password of user
DB_NAME = my_database # Name of Databases


# Broker MQTT configuration
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=
MQTT_TLS=false
